body{

h4 {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 50px;
    text-align: center;
}

h5 {
    margin-left: 30px;
    text-align: center;
}

h6{
    margin-left: 5px;
}

div#two {
    background: white;
    margin-top: 5px;
    /*margin-left: 5px;*/
    float: left;

}

div.legend1{
    /*margin-right: 50px;*/
    margin-top: 90px;
    /*margin-right: 10px;*/

}

div.legend2 {
    margin-top: 20px;
}


h3 {
    margin-top: 15px;
}


.key-dot {
    display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;
}

.legend {
    margin-right:20px;
}

.high { background: #930000;}
.medium { background: #b95c5c;}
.low { background: #ff8080;}
.empty { background: #b3b3b3;
}

div#cont{
    margin-top: 45px;
}

li{
    font-size: 11px;
}

/*div#six {*/
    /*width: 50%;*/
    /*height: 500px;*/
    /*background: white;*/
    /*!*float: left;*!*/
    /*!*background-color: #aaaaaa;*!*/
/*}*/


